
body {
    margin: 0;
    padding: 0;
    width:100%;
    height: 100%;
    overflow-x: hidden;
}
.cart-text{
    width:100%;
}
.cart-text h1{
    text-align: center;
}
.content{
    display: flex;
    justify-content: space-evenly;
}
.cart-container h1{
    text-align: center;
}

.cart-container {
    width: 40%;
    height:auto;
    /* margin: 0 auto; */
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
}

.cart-table th,
.cart-table td {
    text-align: left;
    padding: 15px;
}
.cart-table .divider{
    margin-bottom: 30px;
    border-top: 1px solid #bbb;    
}

.cart-table thead {
    border-bottom: 2px solid #e2e2e2;
}

.product-info {
    text-align: center;
}

.product-image {
    width: 60px; /* Icon width */
    height: auto; /* Maintain aspect ratio */
    margin-right: 15px;
}

.product-name {
    font-size: 16px;
}

.product-price{
    color: #333;
}

.remove {
    color: #ff0000;
    text-decoration: none;
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
}

.remove:hover {
    color: #d00000;
}
.checkout-btn{
    width:75px;
    padding:10px;
    background-color: #313331;
    border-radius: 5px;
    /* float:right; */
    text-align: center;
    color:white;
}
.checkout-btn:hover{
    background-color: #1ccebc;
}
.cart-total{
    /* border:1px solid; */
    padding:10px 20px;
    width:25%;
    height:500px;
    background-color: #efefef;
    border-radius: 10px;
}
.cart-total h1{
    text-align: center;
}
.total-div{
    display: flex;
    flex-direction: column;
}

.subtotal, .address{
    display:flex;
    justify-content: space-between;
}
.subtotal h3, .address h3{
    text-transform: uppercase;
    font-weight: lighter;
}
.subtotal h4, .address h4{
    font-weight: lighter;
}
