body{
  margin: 0;
  padding: 0;
  width:100%;
}
.nav-bar{
    display: flex;
    padding:15px 10px 10px 10px;
    justify-content: space-between;
    /* height:100px; */
  }
  .nav-bar .links ul li {
    list-style-type: none;
    text-align: left;
    display: inline-block;
  }
  
  .nav-bar .links li a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    transition: background-color 0.3s; 
    font-size: 14;
    letter-spacing: 0.2;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  
 .nav-bar .links li a:hover {
    background-color: #30c779;
    text-decoration: none;
  }
  
  .nav-bar .icons{
    display: flex;
    justify-content: space-evenly;
    /* flex-direction: column; */
    /* align-items: center; */
    width:380px;
    margin-right: 20px;
    /* border:1px solid; */
  }
  .icons form{
    display: inline-block;
    justify-content: space-between;
  }
  .links li a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    transition: background-color 0.3s; 
    font-size: 14;
    letter-spacing: 0.2;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  
  .nav-bar .icons .srch-box{
    /* flex: 1; */
    padding: 10px 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    border:1px solid;
    border-color: #5b5d5b;
    /* margin-right: 10px; */
  }
  
  .nav-bar .icons .srch-btn{
    padding:10px 5px;
    color:#fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    background-color: #141515;
    border-radius: 10px;
    margin-right: 10px;
    cursor:pointer;
  }
  
  .nav-bar .icons #register{
      color:#000000;
  }
  .cart-icon{
    position: relative;
    display: inline-block;
  }

  .cart-icon .badge{
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 12px;
  }
  
  .nav-bar .name{
    position:absolute;
    top:10px;
    left:50%;
    padding: 10px 10px; 
  }
  .nav-bar .name a{
    text-decoration: none;
    color: #26da7a;
    font-weight:bold;
    font-size: 17;
  
  }
  .user-menu {
    position: relative;
    /* margin-left: 10px; */
}

.user-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #007bff; /* Example background color */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    min-width: 80px;
    top: 45px;
    padding:5px;
    background-color: #a6a2a2;
    border-radius: 2px;
    z-index: 100;
}

.dropdown-menu a {
    padding: 5px;
    color: black;
    text-decoration: none;
}

.dropdown-menu:hover {
    background-color: #ddd;
}